[user]
	name = George Troulis
	email = georgetroulis@gmail.com

[core]
    autocrlf = input

[push]
    default = current

[alias]
	unstage = reset HEAD --
	gconf = config --global
	hist = log --graph --oneline
