[Desktop Entry]
Terminal=false
Type=Application
Name=STM32CubeMX
GenericName=STM32 Code Generator Utility
#Exec=/usr/local/STMicroelectronics/STM32Cube/STM32CubeMX/STM32CubeMX
#Icon=/usr/local/STMicroelectronics/STM32Cube/STM32CubeMX/help/STM32CubeMX.ico
Exec=/home/ayilay/.local/STM32CubeMX/STM32CubeMX
Icon=/home/ayilay/.local/STM32CubeMX/help/STM32CubeMX.ico
